@font-face {
  font-family: 'Chronicle Display';
  src: url("/font/Chronicle Display Roman.otf");
}

@font-face {
  font-family: 'Gilroy';
  src: url("/font/Gilroy-Light.otf");
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url("/font/Gilroy-Bold.ttf");
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url("/font/Gilroy-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Gilroy Bold';
  font-weight: 100;
  font-size: 18px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.titleSite {
  font-size: 32px;
  font-family: 'Chronicle Display';
  line-height: 38.4px;
}

.cardArticleLink,
h4 {
  color: #FBD784;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 2000px;
  background: url("../img/background.jpg") no-repeat;
  background-color: #0a1c26;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  margin: 0 4.204%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 199px;
}

main {
  padding-top: 743px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  padding-top: 100px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.navbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 64px;
}

.navbarContainer .navbarNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbarContainer .navbarNav ul li {
  margin-right: 40px;
}

.navbarContainer .navbarRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbarContainer .navbarRight a {
  margin-left: 10px;
  font-family: 'Gilroy Bold';
  font-weight: 100;
}

.navbarContainer .navbarRight .navbarAccountIcon {
  width: 20px;
  height: 20px;
  padding-top: 2px;
}

.headerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerLeft .headerLeftText {
  font-size: 18px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-bottom: 26px;
}

.headerLeft .headerSvgFirst {
  margin-bottom: 30px;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 56%;
  margin-left: 20%;
}

.headerContainer h1 {
  font-family: 'Chronicle Display';
  font-style: normal;
  font-size: 88px;
  line-height: 100px;
}

.headerContainer h4 {
  font-family: 'Gilroy Bold';
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.headerContainer .headerInformations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.headerContainer .headerInformations hr {
  height: 2px;
  width: 72px;
  line-height: 3px;
  background-color: #FBD784;
  border: none;
  margin-right: 32px;
}

.headerContainer .headerScrollText {
  margin-right: 15px;
}

.headerContainer .headerScrollGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

.headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 240px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 4%;
  position: fixed;
  left: 91.8%;
}

.headerRight .headerRightText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.headerRight .headerRightNavigation {
  position: -webkit-sticky;
  position: sticky;
}

.headerRight .headerRightNavigation .headerRightNavigationBackground {
  width: 3px;
  height: 100%;
  border: none;
  background: #fff;
  opacity: 0.5;
  position: relative;
}

.headerRight .headerRightNavigation .headerRightNavigationActive {
  width: 3px;
  height: 25%;
  border: none;
  background: #fff;
  position: absolute;
  z-index: 3;
}

.articleContainer {
  display: block;
  width: 75%;
}

.articleContainer .cardArticle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.articleContainer .cardArticle .cardArticleNumber h2 {
  font-size: 220px;
  opacity: 0.1;
  position: absolute;
  top: 3%;
  z-index: -3;
}

.articleContainer .cardArticle .cardArticleContent {
  padding-left: 15.8%;
}

.articleContainer .cardArticle .cardArticleContent .cardArticleContentSubtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 27px;
  height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleContainer .cardArticle .cardArticleContent .cardArticleContentSubtitle hr {
  height: 2px;
  width: 72px;
  line-height: 3px;
  background-color: #FBD784;
  border: none;
}

.articleContainer .cardArticle .cardArticleContent .cardArticleContentSubtitle h4 {
  text-transform: uppercase;
  font-weight: 800;
  padding-left: 24px;
  letter-spacing: 6px;
  font-size: 18px;
}

.articleContainer .cardArticle .cardArticleContent .cardArticleContentTitle {
  font-size: 64px;
  line-height: 76.8px;
  font-family: "Chronicle Display";
  font-weight: normal;
  width: 76.534%;
}

.articleContainer .cardArticle .cardArticleContent .cardArticleContentDescription {
  margin: 27px 0;
  line-height: 32px;
  font-weight: bold;
  width: 87.151%;
  font-family: 'Gilroy Bold';
  font-weight: 100;
}

.articleContainer .cardArticle .cardArticleContentLink a {
  color: #FBD784;
}

.articleContainer .cardArticle .cardArticleContentLink a span {
  padding-left: 16px;
  color: #FBD784;
}

.articleContainer .articlePeer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articleContainer .articlePeer .cardArticlePeer {
  width: unset;
}

.articleContainer .articlePeer .cardArticlePeer .cardArticleNumberPeer h2 {
  left: -22%;
}

.articleContainer .articlePeer .cardArticlePeer .cardArticleContentPeer {
  padding-left: unset;
  max-width: 632px;
}

.articleContainer .articlePeer .cardArticlePeer .cardArticleContentPeer .cardArticleContentDescription {
  width: unset;
}

.articleContainer .articlePeer .cardArticlePeer .cardArticleContentPeer .cardArticleContentSubtitlePeer {
  width: 57%;
}

.footerContainer {
  width: 75%;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerContainer .footerInfo {
  width: 60.343%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerContainer .footerInfo .footerInfoTop {
  width: 41.66%;
}

.footerContainer .footerInfo .footerInfoTop .titleSite {
  margin-bottom: 24px;
}

.footerContainer .footerInfo .footerInfoTop .footerInfoTopText {
  line-height: 32px;
  font-weight: 700;
  font-family: 'Gilroy Bold';
}

.footerContainer .footerInfo .footerInfoBottom {
  opacity: 0.5;
  font-family: 'Gilroy';
  font-weight: 500;
  line-height: 32px;
}

.footerContainer .footerNav {
  width: 39.657%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerContainer .footerNav h4 {
  font-size: 24px;
  margin-bottom: 8px;
  font-family: 'Gilroy Bold';
  font-weight: 100;
  line-height: 32px;
}

.footerContainer .footerNav li {
  margin-top: 16px;
}

.footerContainer .footerNav li a {
  font-family: 'Gilroy';
  font-weight: 500;
  line-height: 32px;
}
/*# sourceMappingURL=index.css.map */