@font-face {
  font-family: 'Chronicle Display';
  src: url("/font/Chronicle Display Roman.otf");
}

@font-face {
  font-family: 'Gilroy';
  src: url("/font/Gilroy-Light.otf");
}

@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url("/font/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url("/font/Gilroy-Regular.ttf");
}

body {
  height: 2000px;
  background: url("../img/background.jpg") no-repeat;
  background-color: #0a1c26;
}

main {
  padding-top: 1450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: block;
  width: 75%;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15%;
}

article .cardArticle {
  width: 62%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article .cardArticle .cardArticleNumber h2 {
  font-size: 220px;
  font-family: "Gilroy Extra Bold";
  font-weight: 100;
  position: relative;
  color: #ffffff1a;
  position: absolute;
  top: 3%;
}

article .cardArticle .cardArticleContent {
  padding-left: 15.8%;
  position: relative;
}

article .cardArticle .cardArticleContent .cardArticleContentSubtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 27px;
  height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .cardArticle .cardArticleContent .cardArticleContentSubtitle hr {
  height: 2px;
  width: 72px;
  line-height: 3px;
  background-color: #fbd784;
  border: none;
}

article .cardArticle .cardArticleContent .cardArticleContentSubtitle h4 {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 24px;
}

article .cardArticle .cardArticleContent .cardArticleContentSubtitle h4,
article .cardArticle .cardArticleContent .cardArticleContentSubtitle .iconify {
  color: #fbd784;
}

article .cardArticle .cardArticleContent .cardArticleContentSubtitle h4 path,
article .cardArticle .cardArticleContent .cardArticleContentSubtitle .iconify path {
  color: #fbd784;
}

article .cardArticle .cardArticleContent .cardArticleContentTitle {
  font-size: 64px;
  line-height: 76.8px;
  font-family: "Chronicle Display";
  font-weight: normal;
  width: 76.534%;
}

article .cardArticle .cardArticleContent .cardArticleContentDescription {
  margin: 27px 0;
  line-height: 32px;
  font-weight: bold;
  width: 87.151%;
}

article .cardArticle .cardArticleContentLink a {
  color: #fbd784;
}

article .cardArticle .cardArticleContentLink a span {
  padding-left: 16px;
  color: #fbd784;
}

.articlePeer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articlePeer .cardArticlePeer {
  width: unset;
}

.articlePeer .cardArticlePeer .cardArticleNumberPeer h2 {
  left: -22%;
}

.articlePeer .cardArticlePeer .cardArticleContentPeer {
  padding-left: unset;
  max-width: 632px;
}

.articlePeer .cardArticlePeer .cardArticleContentPeer .cardArticleContentDescription {
  width: unset;
}

.articlePeer .cardArticlePeer .cardArticleContentPeer .cardArticleContentSubtitlePeer {
  width: 40%;
}

* {
  color: white;
  font-family: "Gilroy Regular";
  margin: 0;
  font-size: 18px;
  padding: 0;
  font-weight: 100;
}

* a {
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */