footer {
    display: flex;
    justify-content: center;
    .container {
        width: $col9;
        padding-bottom: 120px;
        display: flex;
        .footerInfo {
            width: $col6;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .footerInfoTop {
                width: $col5;
                .titleSite {
                    margin-bottom: 24px;
                }
                .footerInfoTopText {
                    line-height: 32px;
                    font-weight: 700;
                    font-family: 'Gilroy Bold';
                    font-weight: 100;
                }
            }

        }
        .footerNav {
            width: $col6;
            display: flex;
            justify-content: space-around;
            h4 {
                font-size: 24px;
                margin-bottom: 24px;
                font-family: 'Gilroy Bold';
                font-weight: 100;
            }
            li {
                margin-bottom: 16px;
                a{
                    font-family: 'Gilroy';
                    font-weight: 500;
                }
            }
        }
        .footerInfoBottom {
            opacity: 0.5;

                font-family: 'Gilroy';
                font-weight: 500;
            
        }
    }
}
