.headerLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    .headerLeftText {
        font-size: $size-min;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        margin-bottom: 26px;
    }
    .headerSvgFirst {
        margin-bottom: 30px;
    }
}

.headerContainer {
    display: flex;
    flex-direction: column;
    width: 56%;
    margin-left: 20%;
    h1 {
        font-family: 'Chronicle Display';
        font-style: normal;
        font-size: 88px;
        line-height: 100px;
    }
    h4 {
        font-family: 'Gilroy Bold';
        font-style: normal;
        font-weight: 100;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 6px;
        text-transform: uppercase;
    }
    .headerInformations {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        hr {
            height: 2px;
            width: 72px;
            line-height: 3px;
            background-color: $or;
            border: none;
            margin-right: 32px;
        }
    }
    .headerScrollText {
        margin-right: 15px;
    }
    .headerScrollGroup {
        display: flex;
        align-items: center;
        margin-top: 32px;
    }
}

.headerRight {
    display: flex;
    height: 240px;
    justify-content: space-between;
    width: 4%;
    position: fixed;
    left: 91.8%;
    .headerRightText {
        display: flex;
        flex-direction: column;
        text-align: right;
        justify-content: space-around;
    }
    .headerRightNavigation {
        position: sticky;
        .headerRightNavigationBackground {
            width: 3px;
            height: 100%;
            border: none;
            background: #fff;
            opacity: 0.5;
            position: relative;
        }
        .headerRightNavigationActive{
            width: 3px;
            height: 25%;
            border: none;
            background: #fff;
            position: absolute;
            z-index: 3;
        }
    }
}