.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    .navbarNav ul {
        display: flex;
        li {
            margin-right: 40px;
        }
    }
    .navbarRight {
        display: flex;
        a {
            margin-left: 10px;
            font-family: 'Gilroy';
            font-weight: 700;
        }
        .navbarAccountIcon {
            width: 20px;
            height: 20px;
            padding-top: 2px;
        }
    }
}