@font-face {
    font-family: 'Chronicle Display';
    src: url("/font/Chronicle\ Display\ Roman.otf");
}

@font-face {
    font-family: 'Gilroy';
    src: url('/font/gilroy-medium-webfont.woff2') format('woff2'),
         url('/font/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url("/font/Gilroy-Bold.ttf");
}