@font-face {
    font-family: 'Chronicle Display';
    src: url("/Maquette-HTML-CSS/font/Chronicle\ Display\ Roman.otf");
}

@font-face {
    font-family: 'Gilroy';
    src: url('/Maquette-HTML-CSS/font/gilroy-medium-webfont.woff2') format('woff2'),
         url('/Maquette-HTML-CSS/font/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url("/Maquette-HTML-CSS/font/Gilroy-Bold.ttf");
}