body {
    height: 2000px;
    background: url("../img/background.jpg") no-repeat;
    background-color: #0a1c26;
    &::-webkit-scrollbar {
        display: none;
    }
    @include biggerScreen {
        background-size: cover;
    }
}

.wrapper {
    margin: 0 4.204%;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 199px;
}

main {
    padding-top: 743px;
    display: flex;
    justify-content: center;
    @include biggerScreen {
        padding-top: 970px;
    }
}

article {
    display: flex;
    margin-bottom: 100px;
    padding-top: 100px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
